---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Blog">
	<section>
		<h1 class="text-5xl font-semibold">Blog</h1>
		<p class="text-neutral-600 mt-4">Read the latest news and updates on new features, releases, and more.</p>

		<div class="bg-neutral-900 flex justify-center items-center py-16 lg:py-20 px-8 bg-opacity-50 rounded-xl mt-6">
			<p class="text-neutral-600">No posts yet.</p>
		</div>
	</section>
</Layout>
