---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<section class="container text-center px-4 py-[15vh]">
		<h1 class="text-[7rem] lg:text-[9rem] font-medium">404</h1>
		<p class="text-neutral-700 text-base font-semibold">Page not found!</p>
	</section>
</Layout>
