---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<section class="h-screen bg-dark flex flex-col gap-6 items-center justify-center -mt-[14vh]">
		<h1 class="text-3xl xl:text-6xl text-center font-bold text-transparent bg-gradient-to-t bg-clip-text from-zinc-50/70 to-white">Important update about the project</h1>
		<div className="flex items-center gap-4">
			<a href="/home" class="block text-neutral-300 text-sm underline underline-offset-4">Home</a>
			<a href="/blog/dusk" class="block text-neutral-300 text-sm underline underline-offset-4">Read here</a>
		</div>
	</section>
</Layout>
