---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="h-screen lg:h-[75vh] container mx-auto border-b border-b-neutral-900 grid grid-cols-1 lg:grid-cols-2 gap-6 2xl:gap-10 px-4 lg:px-8">
    <div class="flex flex-col gap-4 lg:gap-6 self-center px-2">
      <h1 class="w-3/4 lg:w-full leading-snug lg:leading-tight text-5xl lg:text-7xl font-bold">The way to own your library.</h1>
      <p class="font-light opacity-50">
        Reda allows you to import, organise, share and read your books, articles, and other digital documents anytime, anywhere.
      </p>
      <div class="w-max relative">
        <button>Become an early tester</button>
        <div class="w-full absolute top-[120%] text-xs bg-neutral-900 bg-opacity-50 backdrop-blur-lg drop-shadow-md rounded-md">
          <a href="" class="block px-3.5 py-3">iPhone/iPad</a>
          <hr class="opacity-10" />
          <a href="" class="block px-3.5 py-3">Android</a>
        </div>
      </div>
    </div>

    <div class="w-full self-end">
      <img src="/mockup_one.png" class="w-full xl:w-3/4 mt-auto mx-auto" />
    </div>
  </section>
</Layout>
