---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Privacy policy">
	<section class="lg:px-0">
		<h1 class="text-3xl lg:text-4xl font-bold">🔐 Privacy Policy</h1>
		<p class="text-neutral-400 font-medium text-xs mt-2 mb-4">Last updated: 22/12/2022</p>

		<p>
			At Reda, we are committed to protecting your privacy and providing you with a safe and secure user experience. This privacy policy explains how we collect, use, and share information about you when you use our mobile or web app (the "App"). By using the App, you agree to the collection,
			use, and sharing of your information as described in this policy. If you do not agree with our policies and practices, do not use the App.
		</p>
		<h3>Information We Collect and How We Use It</h3>

		<p>
			We collect only the information necessary to provide the App's features to you and to improve your experience. This may include your device's unique identifier, usage data, and any personal information you choose to provide (such as your name and email address).
			<br /><br />
			We use the information we collect to provide, maintain, and improve the App, to personalize your experience, and to communicate with you. We do not share your information with third parties except as necessary to fulfill the purposes described in this policy or with your consent.
		</p>

		<h3>Data Retention and Security</h3>

		<p>
			We take reasonable measures to protect your information from unauthorized access, use, or disclosure.
			<br /><br />
			We retain your information for as long as necessary to provide you with the App or as required by law. You may delete your account and associated information at any time by contacting us or using the App's account settings.
		</p>

		<h3>Your Choices</h3>

		<p>
			You have the following choices regarding the information we collect and how we use it:

			<ul>
				<li>Opting out of communication: You can opt out of receiving communications from us at any time by adjusting your preferences in the App's settings or contacting us.</li>
				<li>Deleting your account: You may delete your account and associated information at any time by using the App's account settings or contacting us.</li>
			</ul>
		</p>

		<h3>Changes to Our Privacy Policy</h3>

		<p>We may update our policy from time to time. We will post any changes on this page and encourage you to review the policy periodically. If we make material changes to the policy, we will notify you through the App or by other means, such as email.</p>

		<h3>Contact Us</h3>

		<p>
			If you have any questions or concerns about our privacy practices, please contact us at <a href="mailto:developer@usereda.app">developer@usereda.app</a>.
		</p>
	</section>
</Layout>

<style>
	h3 {
		font-size: 1.25rem;
		font-weight: 800;
		margin-top: 2rem;
		margin-bottom: 0.5rem;
	}
	p {
		opacity: 0.6;
	}
	ul {
		opacity: 0.6;
		list-style: disc;
		list-style-position: inside;
	}
</style>
