---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Terms of service">
	<section class="lg:px-0">
		<h1 class="text-3xl lg:text-4xl font-bold">🔖 Terms of service</h1>
		<p class="text-neutral-400 font-medium text-xs mt-2 mb-4">Last updated: 22/12/2022</p>

		<p>
			Welcome to Reda! These terms of service (the "Terms") apply to the Reda mobile or web application (the "App") and all services provided by Reda (the "Services"). By using the App or Services, you agree to be bound by these Terms. If you do not agree with these Terms, do not use the App
			or Services.
		</p>
		<h3>Use of the App and Services</h3>

		<p>
			You may use the App and Services only for lawful purposes and in accordance with these Terms. You may not use the App or Services in any way that violates any applicable federal, state, local, or international law or regulation. You may not use the App or Services to transmit any
			malicious or harmful content, such as viruses or spam. You may not use the App or Services to engage in any activities that may interfere with or disrupt the App or Services. We reserve the right to modify or discontinue the App or Services at any time, without notice. We will not be
			liable to you or any third party for any modification, suspension, or discontinuation of the App or Services.
		</p>

		<h3>Accounts and Registration</h3>

		<p>
			In order to use certain features of the App or Services, you may be required to create an account and provide certain personal information, such as your name and email address. You are responsible for maintaining the confidentiality of your account and password and for any activities
			that occur under your account. You must be at least 13 years old to use the App or Services. If you are under 13 years old, you may not create an account or use the App or Services.
		</p>

		<h3>Intellectual Property</h3>

		<p>
			The App and Services, including all content and materials provided through the App or Services, are the property of Reda and are protected by copyright and other intellectual property laws. You may not use any content or materials provided through the App or Services for any commercial
			purpose without the express written consent of Reda.
		</p>

		<h3>Disclaimer of Warranties</h3>

		<p>
			The App and Services are provided on an "as is" and "as available" basis. Reda makes no representations or warranties of any kind, express or implied, as to the operation of the App or Services or the information, content, materials, or products included on the App or Services. Reda does
			not warrant that the App or Services will be uninterrupted or error-free, and Reda will not be liable for any interruptions or errors.
		</p>

		<h3>Limitation of Liability</h3>

		<p>Reda will not be liable for any damages of any kind arising from the use of the App or Services, including but not limited to direct, indirect, incidental, punitive, and consequential damages.</p>

		<h3>Changes to the Terms</h3>

		<p>We may update these Terms from time to time. We will post any changes on this page and encourage you to review the Terms periodically. If we make material changes to the Terms, we will notify you through the App or by other means, such as email.</p>

		<h3>Contact Us</h3>

		<p>If you have any questions or concerns about these Terms, please contact us at <a href="mailto:developer@usereda.app">developer@usereda.app</a>.</p>
	</section>
</Layout>

<style>
	h3 {
		font-size: 1.25rem;
		font-weight: 800;
		margin-top: 2rem;
		margin-bottom: 0.5rem;
	}
	p {
		opacity: 0.6;
	}
	ul {
		opacity: 0.6;
		list-style: disc;
		list-style-position: inside;
	}
</style>
