---
const year = new Date().getFullYear();
---

<footer class="bg-neutral-900 bg-opacity-50 px-8 lg:px-12 py-12 lg:py-16 mt-14">
  <div class="max-w-5xl 2xl:max-w-7xl mx-auto grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-6">
    <div class="col-span-2 lg:col-span-1 mb-6 lg:mb-0">
      <img src="/logo_white.svg" class="h-5 lg:h-6" />
    </div>
    <div>
      <h3 class="font-semibold">Legal</h3>
      <div class="flex flex-col gap-2 mt-3">
        <a href="" class="block">Privacy policy</a>
        <a href="" class="block">Terms of service</a>
      </div>
    </div>

    <div>
      <h3 class="font-semibold">Product</h3>
      <div class="flex flex-col gap-2 mt-3">
        <a href="" class="block">Pricing</a>
        <a href="" class="block">Blog</a>
        <a href="" class="block">FAQs</a>
      </div>
    </div>

    <div>
      <h3 class="font-semibold">Social</h3>
      <div class="flex flex-col gap-2 mt-3">
        <a href="https://twitter.com/useredaapp" target="_blank" rel="noreferrer" class="block">Twitter</a>
        <a href="" class="block">ProductHunt</a>
        <a href="" class="block">E-Mail</a>
      </div>
    </div>

    <hr class="col-span-full opacity-10 mt-4" />
    <div class="col-span-full flex flex-col lg:flex-row lg:justify-between gap-2">
      <p class="text-sm font-light">
        Built by <a class="text-blue-500 underline decoration-dashed" href="https://twitter.com/trulyao" target="_blank" rel="noreferrer">Ayodeji</a>
      </p>
      <p class="text-sm font-light opacity-50">&copy; {year} Reda. All Rights Reserved.</p>
    </div>
  </div>
</footer>
