---
import { FiMenu } from "react-icons/fi/index.js";
import { BsX } from "react-icons/bs/index.js";
---

<script src="//unpkg.com/alpinejs" defer is:inline></script>
<div x-data="{ showMobileNav: false }">
	<nav
		class="w-screen flex justify-between items-center bg-dark bg-opacity-50 backdrop-blur-lg fixed top-0 border-b border-b-neutral-900 py-6 lg:py-8 px-6 lg:px-8 z-[99999]"
	>
		<a href="/" class="p-0 m-0">
			<img src="/logo_white.svg" class="h-5 lg:h-6" />
		</a>
		<div class="hidden lg:block space-x-3">
			<a href="#" class="">Sign in</a>
			<a href="#" class="">Pricing</a>
		</div>
		<div class="lg:hidden">
			<button
				class="bg-transparent text-white px-0 py-1 m-0"
				x-on:click="showMobileNav = !showMobileNav"
				><FiMenu size={22} />
			</button>
		</div>
	</nav>

	<div
		class="w-screen h-screen fixed top-0 left-0 z-[999999] bg-neutral-900 bg-opacity-90 backdrop-blur-xl"
		x-show="showMobileNav"
	>
		<div class="w-full h-full flex flex-col gap-5 justify-center items-center">
			<a href="/" class="block text-white text-xl">Home</a>
			<a href="#" class="block text-white text-xl">Sign in</a>
			<a href="#" class="block text-white text-xl">Pricing</a>
		</div>
		<button
			class="fixed top-4 right-4 bg-neutral-800 text-white rounded-full p-2 mt-auto"
			x-on:click="showMobileNav = !showMobileNav"
			><BsX size={20} />
		</button>
	</div>
</div>
