---
const year = new Date().getFullYear();
---

<footer class="bg-neutral-900 bg-opacity-50 px-8 lg:px-12 py-14 lg:py-18 mt-14">
	<div
		class="max-w-5xl 2xl:max-w-7xl mx-auto grid grid-cols-2 md:grid-cols-3 gap-6"
	>
		<div class="col-span-full lg:col-span-1 mb-6 lg:mb-12">
			<img src="/logo_white.svg" class="h-6 md:h-7 lg:h-8" />
		</div>
		<div>
			<h3 class="font-semibold">Legal</h3>
			<div class="flex flex-col gap-2 mt-3">
				<a href="/privacy" class="block">Privacy policy</a>
				<a href="/terms" class="block">Terms of service</a>
			</div>
		</div>

		<div>
			<h3 class="font-semibold">Social</h3>
			<div class="flex flex-col gap-2 mt-3">
				<a
					href="https://twitter.com/useredaapp"
					target="_blank"
					rel="noreferrer"
					class="block">Twitter</a
				>
				<a
					href="https://github.com/aosasona/reda-mobile"
					target="_blank"
					rel="noreferrer"
					class="block">GitHub</a
				>
				<a href="mailto:developer@usereda.app" class="block">E-Mail</a>
			</div>
		</div>

		<hr class="col-span-full opacity-10 mt-4" />
		<div
			class="col-span-full flex flex-col lg:flex-row lg:justify-between gap-3 py-1"
		>
			<p class="text-sm font-light">
				Built by <a
					class="text-primary font-light underline decoration-dashed underline-offset-4"
					href="https://twitter.com/trulyao"
					target="_blank"
					rel="noreferrer">Ayodeji</a
				>
			</p>
			<p class="text-sm font-light opacity-50">
				&copy; {year} Reda. All Rights Reserved.
			</p>
		</div>
	</div>
</footer>
