---
import { DiApple, DiAndroid } from "react-icons/di/index.js";
---

<section class="w-screen max-w-none border-b border-b-neutral-900 px-0">
	<div class="container mx-auto grid grid-cols-1 lg:grid-cols-2 gap-6 2xl:gap-10 px-4 lg:px-8">
		<div class="text-center lg:text-left flex flex-col gap-4 items-center lg:items-start lg:gap-6 self-center px-2">
			<h1 class="w-5/6 lg:w-full leading-snug lg:leading-tight text-[2.5rem] md:text-6xl xl:text-7xl font-bold">The way to own your library.</h1>
			<p class="text-sm lg:text-base text-neutral-600">Reda allows you to import, organise, share and read your books, articles, and other digital documents anytime, anywhere.</p>
			<div class="w-max relative" x-data="{ showDownload: false }">
				<button x-on:click="showDownload = !showDownload">Try it out now (beta)</button>
				<div class="w-full absolute top-[125%] bg-neutral-900 bg-opacity-50 backdrop-blur-lg rounded-md z-[99]" x-show="showDownload">
					<a href="https://testflight.apple.com/join/ObUyBzN2" class="w-full hover:opacity-50 flex items-center gap-2 px-3.5 py-3" target="_blank" rel="noopener noreferrer">
						<DiApple size={18} />
						<p class="text-sm">iPhone (iOS)</p>
					</a>
					<hr class="opacity-10" />
					<a href="https://play.google.com/store/apps/details?id=com.wytehq.reda" class="w-full hover:opacity-50 flex items-center gap-2 px-3.5 py-3">
						<DiAndroid size={18} />
						<p class="text-sm">Android</p>
					</a>
				</div>
			</div>
		</div>

		<div class="w-full relative self-end">
			<img src="/mockup_one.png" class="w-full sm:w-4/5 2xl:w-4/6 mt-auto mx-auto object-contain" />
		</div>
	</div>
</section>
